@import "../../style/variables";
@import "../../style/mixins";

.home {
  background-color: #fff;
  min-height: 100%;
  width: 100%;
}

.features_container {
  margin-top: spacing(4);
  margin-bottom: spacing(4);
}
