@import "../../style/variables";

.overlay {
  background-color: $colorPrimary;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  z-index: 1001;
}

.enter {
  opacity: 0.01;
}

.enterActive {
  opacity: 1;
  transition: all 300ms;
}

.enterDone {
  opacity: 1;
}

.exit {
  opacity: 1;
}

.exitDone {
  opacity: 0.01;
  transition: all 300ms;
}

.overlay_exit_done {
  opacity: 0;
  visibility: hidden;
}

.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  border-radius: 50%;
  transform: translateZ(0);

  &:before,
  &:after {
    border-radius: 50%;
    position: absolute;
    content: "";
  }

  &:before {
    width: 5.2em;
    height: 10.2em;
    background: $colorPrimary;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    transform-origin: 5.1em 5.1em;
    animation: load2 1s infinite ease 1.5s;
  }

  &:after {
    width: 5.2em;
    height: 10.2em;
    background: $colorPrimary;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 4.9em;
    transform-origin: 0.1em 5.1em;
    animation: load2 1s infinite ease;
  }
}

@keyframes load2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
