$colorDark: #00283a;
$colorLightBlue: #d5f1fe;

$colorText: $colorDark;
$colorPrimary: #00a7f7;
$colorSecondary: $colorDark;

$fontPrimary: "Montserrat", sans-serif;
$fontSecondary: "Roboto", sans-serif;

$phone: 360px;
$tablet: 768px;
$sm-desktop: 1024px;
$desktop: 1160px;
